/* Size for brand */
nav .navbar-brand
{
    font-size: xx-large;
}

/* Colors for brand */
nav .navbar-brand .blue
{
    color: #537fbe;
}
nav .navbar-brand .red
{
    color: #ea433b;
}
nav .navbar-brand .yellow
{
    color: #f5b82e;
}
nav .navbar-brand .green
{
    color: #2e944b;
}


/* Tables */
.tables {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    border: 1px solid #666;
}

/* Colours of History */
#history .tables th {
    background-color: #00ffd8;
}

/* Table headers */
.tables th {
    background-color: #ffd800;
    color: #333;
    padding: 10px;
    text-align: center;
    border-bottom: 2px solid #ddd;
}

/* Table cells */
.tables td {
    padding: 10px;
    border-bottom: 1px solid #666;
    text-align: center;
}

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}


#results {
    border: 1px solid #ccc;
    max-height: 150px;
    overflow-y: auto;
    position: absolute; /* Ensure it's positioned relative to a parent */
    width: 100%; /* Match the width of the parent container */
    background-color: white;
    list-style-type: none;
    padding: 0;
    margin: 0;
    z-index: 1000; /* Ensure it stays above other elements */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle shadow for better visibility */
}
#results li {
    padding: 8px;
    cursor: pointer;
}

#results li:hover {
    background-color: #eee;
}

.suggestions-list {
    list-style: none;
    padding: 0;
    margin: 0;
    border: 1px solid #ccc;
    max-height: 300px;
    overflow-y: auto;
}

.suggestion {
    padding: 10px;
    cursor: pointer;
}

.suggestion.highlight {
    background-color: #f0f0f0;
}

.start-main-content {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 2rem; /* Space between columns */
    padding: 2rem;
    border-radius: 8px;
    text-align: center;
}

.start-main-content > div {
    background-color: #f9f9f9;
    text-align: center;
    padding: 20px 0;
    font-size: 20px;
    font-weight: bold;
  }

.start-item-1 {
    display: grid;
    grid-column: 2 / 3;
}

#num_players option {
    text-align: center;
}

/* to review */
.main-content {
    display: grid;
    grid-template-columns: 4fr 1fr; /* 2 columns: left (3), right (1) */
    grid-template-rows: auto; /* The rows are flexible */
    gap: 2rem; /* Space between columns */
    padding: 2rem;
}

.left-section {
    display: grid;
    grid-template-rows: 1fr 5fr; /* Top block is 1, bottom block is 3 */
    gap: 1rem;
}

.right-section {
    display: grid;
    background-color: #f0f0f0;
    padding: 1rem;
    border-radius: 8px;
    gap: 1rem;
}

.player-info {
    background-color: #f4f4f4;
    padding: 1rem;
    border-radius: 8px;
    text-align: center;
}

.game-info {
    position: relative; /* Makes the absolute positioning of #results relative to this */
    background-color: #f9f9f9;
    padding: 1rem;
    border-radius: 8px;
    text-align: center;
}

h3 {
    text-align: center;
}

.timer {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
}

ul {
    list-style: none; /* Removes bullet behavior */
    padding-left: 0;  /* Adjust indentation */
}

ul li {
    padding: 0.5rem;
    background-color: #fff;
    border-radius: 5px;
    margin-bottom: 1rem;
}


@media (max-width: 768px) {
    .main-content {
        grid-template-columns: 1fr; /* Stack columns on smaller screens */
    }
}

