{% extends "layout.html" %}

{% block title %}
    Solo Game Over
{% endblock %}

{% block main %}
<div class="text-center" style="color: white; margin: 15px">
    <h1>Game Over!</h1>
    <h3>You guessed <strong>{{ correct_guesses }}</strong> movies correctly!</h3>
    <h3>You played with a configuration of <strong>{{ initial_timer }} seconds</strong>.</h3>
    <h3>Think you can beat your score next time?</h3>
</div>
<br/>
<div class="text-center">
    <a href="/start" class="btn btn-primary">Play Again</a>
</div>
{% endblock %}
