{% extends "layout.html" %}

{% block title %}
    Guess the movie
{% endblock %}

{% block main %}
    <h2>Guess a movie starring {{ actor }}</h2>
    <form action="/guess" method="post">
        <input autocomplete="on" autofocus class="form-control mx-auto w-auto" id="search" oninput="fetchResults()" name="movie_query" placeholder="Guess the movie" type="text">
        <ul id="results"></ul>
    </form>
    <script>
        function fetchResults() {
            let query = document.getElementById('search').value;
            if (query.length === 0) {
                document.getElementById('results').innerHTML = ""; // Clear if query is empty
                return;
            }

            fetch(`/query?q=${query}`)
                .then(response => response.json())
                .then(data => {
                    let resultsList = document.getElementById('results');
                    resultsList.innerHTML = "";  // Clear previous results

                    // Populate the list with new results
                    data.forEach(movie => {
                        let listItem = document.createElement('li');
                        listItem.textContent = movie.title;
                        listItem.onclick = function() {
                            document.getElementById('search').value = movie.title;
                            resultsList.innerHTML = "";  // Clear list after selection
                            document.forms[0].submit();
                        };
                        resultsList.appendChild(listItem);
                    });
                });
        }
    </script>
{% endblock %}
