{% extends "layout.html" %}

{% block title %}
    Guess the movie
{% endblock %}

{% block main %}
    <h2>Guess a movie starring {{ actor }}</h2>
    <form action="/guess" method="post">
        <input
        autocomplete="off"
        autofocus
        class="form-control mx-auto w-auto"
        id="search"
        name="movie_query"
        placeholder="Guess the movie"
        type="text">
    <input type="hidden" id="selected_movie_id" name="movie_id">
    <ul id="results" class="suggestions-list"></ul>
    </form>
    
{% endblock %}
